<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khaatabook</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
</head>

<body>
    <div id="main">
        <nav>
            <div class="magnet" id="left">
                <div id="logo"><img src="/images/logo.png" alt="logo"></div>
                <h1>KHAATABOOK</h1>
            </div>
            <div id="centre">
                <a href="/">Home</a>
                <a href="#features">Features</a>
                <a href="#pricing">Pricing</a>
                <a href="#about">About Us</a>
            </div>
            <div id="right">
                <button class="btn btn-1 magnet"><a href="/login">Log In</a></button>
                <button class="btn btn-2 magnet"><a href="/signup">Sign Up</a></button>
            </div>
        </nav>
        <div class="page" id="page1">
            <div class="main-heading">
                <h1><span>Simplify </span> <span>Your </span> <span>Expense </span> <span>Tracking </span> <span>with
                    </span> <span>Khaatabook</span></h1>
                <h3><span class="element"></span></h3>
            </div>
            <button class="btn magnet"><a href="/signup">Get Started</a></button>
        </div>
        <div class="page" id="page2">
            <div id="features" class="magnet heading">
                <h1>Features</h1>
            </div>
            <div id="features">
                <div class="card left-feature">
                    <div id="left">
                        <h1>Easy Expense Entry</h3>
                            <h4>Add Expenses in a Snap</h4>
                            <p>Quickly log your expenses with a user-friendly interface designed for speed and
                                simplicity.</p>
                    </div>
                    <div id="right">
                        <img src="/images/feature_1.png" alt="Features">
                    </div>

                </div>
                <div class="card right-feature">
                    <div id="left">
                        <h1>Secure Data Storage</h3>
                            <h4>Your Data, Safeguarded</h4>
                            <p>Export your financial reports and share them with your accountant, financial advisor, or
                                family members easily.</p>
                    </div>
                    <div id="right">
                        <img src="/images/feature_2.png" alt="Features">
                    </div>
                </div>
                <div class="card left-feature">
                    <div id="left">
                        <h1>Expense Sharing</h3>
                            <h4>Share Expenses with Ease</h4>
                            <p>Split expenses with family or friends and keep track of shared costs seamlessly.</p>
                    </div>
                    <div id="right">
                        <img src="/images/feature_3.png" alt="Features">
                    </div>
                </div>
                <div class="card right-feature">
                    <div id="left">
                        <h1>Detailed Reports</h3>
                            <h4>Visualize Your Spending</h4>
                            <p>Access comprehensive reports that provide clear visuals of where your money goes, helping
                                you make informed financial decisions.</p>
                    </div>
                    <div id="right">
                        <img src="/images/feature_1.png" alt="Features">
                    </div>
                </div>
            </div>
            <div class="heading">
                <h3>And more to come!</h3>
            </div>
        </div>
        <div class="page" id="page3">
            <div class="heading">
                <h1 class="magnet">How It Works?</h1>
                <h3>Get Started in Minutes</h3>
            </div>
            <div id="section">
                <div class="card-2 left-step">
                    <h1>Introduction</h1>
                    <h3>Getting Started is Simple</h3>
                    <p>See how Khaatabook helps you manage your expenses in just a few steps.</p>
                </div>
                <div class="card-2 right-step">
                    <h1>Step 1: Sign Up</h1>
                    <h3>Join the Khaatabook Community ASAP!</h3>
                    <p>Create your free account in seconds. Just enter your email and choose a password to get started.
                    </p>
                </div>
                <div class="card-2 left-step">
                    <h1>Step 2: Add Your Expenses</h1>
                    <h3>Log Every Penny</h3>
                    <p>Easily add your expenses with our intuitive interface. Just enter the amount, category, and any
                        notes.</p>
                </div>
                <div class="card-2 right-step">
                    <h1>Step 4: Track and Analyze</h1>
                    <h3>Visualize Your Spending</h3>
                    <p>Access detailed reports and visualizations to understand your spending habits and make informed
                        decisions.</p>
                </div>
            </div>
        </div>

        <div class="page" id="page4">
            <div class="heading">
                <h1 class="magnet">Pricing</h1>
            </div>
            <div id="pricing">
                <h1>It's totally FREEEE!!!</h1>
                <button class="btn magnet">Join Right Now!</button>
            </div>

            <div id="about" class="contact-section">
                <h2>Get in Touch with Us</h2>
                <p>We’re here to help you with any questions or support you need.</p>

                <div class="contact-form">
                    <h3>Reach Out Anytime</h3>
                    <form action="/submit-contact-form" method="post" autocomplete="off">
                        <div class="input-field">
                            <input type="text" id="name" name="name" required>
                            <label for="name">Name</label>
                        </div>

                        <div class="input-field">
                            <input type="email" id="email" name="email" required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field">
                            <input type="text" id="subject" name="subject" required>
                            <label for="subject">Subject</label>
                        </div>

                        <label for="message">Message</label>
                        <textarea id="message" name="message" rows="5" required></textarea>

                        <button class="btn magnet" type="submit">Send Message</button>
                    </form>
                </div>

                <div class="contact-info">
                    <h3>Contact Information</h3>
                    <p>Call Us: +91 11223344555</p>
                    <p>Email Us: support@khaatabook.com</p>

                </div>

                <div class="contact-map">
                    <h3>Our Location</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.609076472004!2d74.59888257492179!3d16.845738683952064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc1237f52c65db5%3A0xa3535676176ded0a!2sWalchand%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1722153255663!5m2!1sen!2sin"
                        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>

                <div class="contact-social">
                    <h3>Follow Us</h3>
                    <a href="https://facebook.com/khaatabook" target="_blank">Facebook</a>
                    <a href="https://twitter.com/khaatabook" target="_blank">Twitter</a>
                    <a href="https://linkedin.com/company/khaatabook" target="_blank">LinkedIn</a>
                    <a href="https://instagram.com/khaatabook" target="_blank">Instagram</a>
                </div>

                <div id="footer">
                    <h4>All Rights Reserved Khaatabook v-3.0 &copy;2024</h4>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <!-- Scroll Trigger is needed for Scroll Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

    <!-- Three.js is needed for 3d Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

    <!-- ControlKit is needed for Debug Panel -->
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>