<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Khaatabook</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body>
  <header>
    <div class="container">
      <img src="/images/logo.png" alt="Khaatabook Logo" class="logo">
      <nav>
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
      </nav>
    </div>
  </header>

  <main>
    <div class="login-container">
      <h2>Welcome Back!</h2>
      <p>Please login to your account.</p>
      <form action="/loginuser" method="post" id="login-form" autocomplete="off">
        <div class="input-field">
          <input type="email" id="email" name="email" required>
          <label for="email">Email</label>
        </div>

        <div class="input-field">
          <input type="password" id="password" name="password" required>
        <label for="password">Password</label>
        <button type="button" id="passbtn" class="show-password"><i class="ri-eye-line"></i></button>
      </div>
        <button type="submit">Login</button>
      </form>
      <p class="signup-link">Don't have an account? <a href="/signup">Sign up here</a>.</p>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2024 Khaatabook. All rights reserved.</p>
    </div>
  </footer>


  <script src="/js/login.js"></script>
</body>
</html>
