<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khaatabook | Sign Up</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div id="main">
        <header>
            <div class="container">
              <img src="/images/logo.png" alt="Khaatabook Logo" class="logo">
              <nav>
                <a href="/">Home</a>
                <a href="/login">Login</a>
              </nav>
            </div>
          </header>
        
          <main>
            <div class="signup-container">
              <h2>Create Your Account</h2>
              <p>Join Khaatabook and start managing your expenses today!</p>
              <form action="/registerUser" method="post" id="signup-form" autocomplete="off">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" required>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
              
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
              
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required minlength="8">
              
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
              
                
              
                <button type="submit">Sign Up</button>
              </form>
              <p class="login-link">Already have an account? <a href="/login">Login here</a>.</p>
              
            </div>
          </main>
        
          <footer>
            <div class="container">
              <p>&copy; 2024 Khaatabook. All rights reserved.</p>
            </div>
          </footer>
    </div>

    <script src="/js/register.js"></script>
</body>
</html>